<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Admin Panel – KAiTutor</title>
  <link rel="stylesheet" href="../styless/admin.css" />
</head>
<body>

<div class="admin-layout">

  <!-- SIDEBAR -->
  <aside class="admin-sidebar">
    
    <nav>
      <a class="active">Dashboard</a>
      <a>Users</a>
      <a>Assessments</a>
      <a href="transcript.html" class="none">Transcript</a>
      <a>Statistics</a>
    </nav>
  </aside>

  <!-- MAIN CONTENT -->
  <main class="admin-content">

    <header class="admin-header">
      <div class="nav-left">
      <a href="../index.html">
        <img src="../kaitutor-logo.png" alt="KAiTutor Logo" class="nav-logo-img" />
      
    </header>

    <!-- STATS -->
    <section class="stats-grid">
      <div class="stat-card">
        <h3>1,248</h3>
        <p>Total Users</p>
      </div>
      <div class="stat-card">
        <h3>5,932</h3>
        <p>Assessments Taken</p>
      </div>
      <div class="stat-card">
        <h3>87%</h3>
        <p>Avg Accuracy</p>
      </div>
      <div class="stat-card">
        <h3>312</h3>
        <p>Active Today</p>
      </div>
    </section>

  </main>

</div>

</body>
<script src="../admin.js"></script>
</html>
